@import "https://fonts.googleapis.com/css?family=Sofia";
@imagesDir: "../resources/announcement/";
/*********************************!!!Announcement!!!************************************/
.wcVideoSlideContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: green;
	background-size: 900px 240px;

    .wcVideoSlideText {
        h2 {
            font-family: 'Sofia';
            font-size: 32px;
            color: rgb(95, 81, 81);
        }
        margin-bottom: 2%;
        color: #fff;
    }

    .wcVideoSlidePlayer {
        margin-top: 2%;
    }
}


.wcAnnounceUl {
	list-style-type: none;
	margin: 0px 0 0 -40px;
    cursor: pointer;
    
    li{
    
    .wcAnnounceArrow{
        background: none;
		border: 0;
        color: inherit;
        font: inherit;
		line-height: normal;
        overflow: visible;
        padding: 0;
		-webkit-appearance: button;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
        float: right;
        width: 16px;
        height: 16px;
        &:focus {
			outline: none;
		}
	}

	.wcAnnouncePlay {
		background-position: 90% 0;
		&:hover {
			background-position: 90% 50%;
		}
	}

    .wcAnnouncePrev {
		.wcAnnounceArrow;
		background-image: url("@{imagesDir}prev.png");
	}
	.wcAnnounceNext {
        .wcAnnounceArrow;
		background-image: url("@{imagesDir}next.png");
	}
	.wcAnnounceItemNum {
		width: 23px;
		height: 23px;
		background-image: url("@{imagesDir}control-bar.png");
	}
	
	//Announcements Positioning Loop
	.AnnouncementsPositionLoop (1) {}
	.AnnouncementsPositionLoop (@index) when (@index > 0) {
	  .wcAnnounce@{index} {
		background-position: (@index - 1)*10% 0;
		&:hover, &:focus {
			background-position: (@index - 1)*10% 50%;
		}
	  }
	  .wcAnnounce@{index}Active {
		background-position: (@index - 1)*10% 100%;
	  }
	  .AnnouncementsPositionLoop(@index - 1);
	}
	.AnnouncementsPositionLoop(9);
	//Announcements Positioning Loop end
}
}

.wcAnnounceLink {
	text-decoration: none;
}

.wcAnnounceItemNum {
	float: left;
	font-size: 0px;
	background-repeat: no-repeat;
}

.wcAnnouncePlay {
	.wcAnnounceItemNum;
}

.wcAnnouncePause {
	.wcAnnounceItemNum;
	
	background-position: 100% 0;
	&:hover, &:focus {
		background-position: 100% 50%;
	}
}

.wcAnnounceDisable {
	filter: alpha(opacity=35);
	opacity: 0.35;
	cursor: default;
}
.wcAnnounceUl.wcAnnouncePlay {
	&:focus {
		background-position: 90% 50%;
	}
}
