
/*********************************!!!Announcement!!!************************************/

.wcAnnounceUl{
    list-style-type: none;
    margin:0px 0 0 -40px;
    cursor:pointer;
}

.wcAnnounceLink{
    text-decoration: none;
}

.wcAnnouncePlay, .wcAnnouncePause, .wcAnnounceItemNum {
  float:                  left !important;
  font-size:              0px !important;
  background-repeat:      no-repeat !important;
}

.wcAnnounceDisable{
  filter: alpha(opacity=35);
  opacity:0.35;
  cursor:default;
}

.wcAnnounceUl .wcAnnouncePrev , .wcAnnounceUl .wcAnnounceNext{
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.wcAnnounceUl .wcAnnouncePrev:focus , .wcAnnounceUl .wcAnnounceNext:focus {outline: none;}

.wcAnnounceUl .wcAnnounceItemNum {
  width:                  23px !important;
  height:                 23px !important;
  background-image:       url('../resources/announcement/control-bar.png') !important;
}

.wcAnnounceUl .wcAnnouncePrev{
    float:                  right !important;
    background-image:       url('../resources/announcement/prev.png') !important;
    width:                  16px !important;
    height:                 16px !important;
}

.wcAnnounceUl .wcAnnounceNext{
    float:                  right !important;
    background-image:       url('../resources/announcement/next.png') !important;
    width:                  16px !important;
    height:                 16px !important;
}

.wcAnnounceUl .wcAnnouncePlay {
  background-position: 90% 0 !important;
}

.wcAnnounceUl .wcAnnouncePlay:hover, .wcAnnounceUl.wcAnnouncePlay:focus {
  background-position: 90% 50% !important;
}

.wcAnnouncePause {
  background-position: 100% 0 !important;
}

.wcAnnouncePause:hover, .wcAnnouncePause:focus {
  background-position: 100% 50% !important;
}

.wcAnnounceUl .wcAnnounce1 {
  background-position: 0 0 !important;
}

.wcAnnounceUl  .wcAnnounce2 {
  background-position: 10% 0 !important;
}

.wcAnnounceUl  .wcAnnounce3 {
  background-position: 20% 0 !important;
}

.wcAnnounceUl .wcAnnounce4 {
  background-position: 30% 0 !important;
}

.wcAnnounceUl  .wcAnnounce5 {
  background-position: 40% 0 !important;
}

.wcAnnounceUl .wcAnnounce6 {
  background-position: 50% 0 !important;
}

.wcAnnounceUl .wcAnnounce7 {
  background-position: 60% 0 !important;
}

.wcAnnounceUl .wcAnnounce8 {
  background-position: 70% 0 !important;
}

.wcAnnounceUl .wcAnnounce9 {
  background-position: 80% 0 !important;
}

.wcAnnounceUl .wcAnnounce1:hover, .wcAnnounceUl .wcAnnounce1:focus {
  background-position: 0 50% !important;
}

.wcAnnounceUl .wcAnnounce2:hover, .wcAnnounceUl .wcAnnounce2:focus {
  background-position: 10% 50% !important;
}

.wcAnnounceUl .wcAnnounce3:hover, .wcAnnounceUl .wcAnnounce3:focus {
  background-position: 20% 50% !important;
}

.wcAnnounceUl .wcAnnounce4:hover, .wcAnnounceUl .wcAnnounce4:focus {
  background-position: 30% 50% !important;
}

.wcAnnounceUl .wcAnnounce5:hover, .wcAnnounceUl .wcAnnounce5:focus {
  background-position: 40% 50% !important;
}

.wcAnnounceUl .wcAnnounce6:hover, .wcAnnounceUl .wcAnnounce6:focus {
  background-position: 50% 50% !important;
}

.wcAnnounceUl .wcAnnounce7:hover, .wcAnnounceUl .wcAnnounce7:focus {
  background-position: 60% 50% !important;
}

.wcAnnounceUl .wcAnnounce8:hover, .wcAnnounceUl .wcAnnounce8:focus {
  background-position: 70% 50% !important;
}

.wcAnnounceUl .wcAnnounce9:hover, .wcAnnounceUl .wcAnnounce9:focus {
  background-position: 80% 50% !important;
}

.wcAnnounceUl .wcAnnounce1Active {
  background-position: 0 100%  !important;
}

.wcAnnounceUl .wcAnnounce2Active {
  background-position: 10% 100% !important;
}

.wcAnnounceUl .wcAnnounce3Active {
  background-position: 20% 100% !important;
}

.wcAnnounceUl .wcAnnounce4Active {
  background-position: 30% 100% !important;
}

.wcAnnounceUl .wcAnnounce5Active {
  background-position: 40% 100% !important;
}

.wcAnnounceUl .wcAnnounce6Active {
  background-position: 50% 100% !important;
}

.wcAnnounceUl .wcAnnounce7Active {
  background-position: 60% 100% !important;
}

.wcAnnounceUl .wcAnnounce8Active {
  background-position: 70% 100% !important;
}

.wcAnnounceUl .wcAnnounce9Active {
  background-position: 80% 100% !important;
}