@import "https://fonts.googleapis.com/css?family=Sofia";
/*********************************!!!Announcement!!!************************************/
.wcVideoSlideContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  background-color: green;
  background-size: 900px 240px;
}
.wcVideoSlideContainer .wcVideoSlideText {
  margin-bottom: 2%;
  color: #fff;
}
.wcVideoSlideContainer .wcVideoSlideText h2 {
  font-family: 'Sofia';
  font-size: 32px;
  color: #5f5151;
}
.wcVideoSlideContainer .wcVideoSlidePlayer {
  margin-top: 2%;
}
.wcAnnounceUl {
  list-style-type: none;
  margin: 0px 0 0 -40px;
  cursor: pointer;
}
.wcAnnounceUl li .wcAnnounceArrow {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: right;
  width: 16px;
  height: 16px;
}
.wcAnnounceUl li .wcAnnounceArrow:focus {
  outline: none;
}
.wcAnnounceUl li .wcAnnouncePlay {
  background-position: 90% 0;
}
.wcAnnounceUl li .wcAnnouncePlay:hover {
  background-position: 90% 50%;
}
.wcAnnounceUl li .wcAnnouncePrev {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: right;
  width: 16px;
  height: 16px;
  background-image: url("../resources/announcement/prev.png");
}
.wcAnnounceUl li .wcAnnouncePrev:focus {
  outline: none;
}
.wcAnnounceUl li .wcAnnounceNext {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: right;
  width: 16px;
  height: 16px;
  background-image: url("../resources/announcement/next.png");
}
.wcAnnounceUl li .wcAnnounceNext:focus {
  outline: none;
}
.wcAnnounceUl li .wcAnnounceItemNum {
  width: 23px;
  height: 23px;
  background-image: url("../resources/announcement/control-bar.png");
}
.wcAnnounceUl li .wcAnnounce9 {
  background-position: 80% 0;
}
.wcAnnounceUl li .wcAnnounce9:hover,
.wcAnnounceUl li .wcAnnounce9:focus {
  background-position: 80% 50%;
}
.wcAnnounceUl li .wcAnnounce9Active {
  background-position: 80% 100%;
}
.wcAnnounceUl li .wcAnnounce8 {
  background-position: 70% 0;
}
.wcAnnounceUl li .wcAnnounce8:hover,
.wcAnnounceUl li .wcAnnounce8:focus {
  background-position: 70% 50%;
}
.wcAnnounceUl li .wcAnnounce8Active {
  background-position: 70% 100%;
}
.wcAnnounceUl li .wcAnnounce7 {
  background-position: 60% 0;
}
.wcAnnounceUl li .wcAnnounce7:hover,
.wcAnnounceUl li .wcAnnounce7:focus {
  background-position: 60% 50%;
}
.wcAnnounceUl li .wcAnnounce7Active {
  background-position: 60% 100%;
}
.wcAnnounceUl li .wcAnnounce6 {
  background-position: 50% 0;
}
.wcAnnounceUl li .wcAnnounce6:hover,
.wcAnnounceUl li .wcAnnounce6:focus {
  background-position: 50% 50%;
}
.wcAnnounceUl li .wcAnnounce6Active {
  background-position: 50% 100%;
}
.wcAnnounceUl li .wcAnnounce5 {
  background-position: 40% 0;
}
.wcAnnounceUl li .wcAnnounce5:hover,
.wcAnnounceUl li .wcAnnounce5:focus {
  background-position: 40% 50%;
}
.wcAnnounceUl li .wcAnnounce5Active {
  background-position: 40% 100%;
}
.wcAnnounceUl li .wcAnnounce4 {
  background-position: 30% 0;
}
.wcAnnounceUl li .wcAnnounce4:hover,
.wcAnnounceUl li .wcAnnounce4:focus {
  background-position: 30% 50%;
}
.wcAnnounceUl li .wcAnnounce4Active {
  background-position: 30% 100%;
}
.wcAnnounceUl li .wcAnnounce3 {
  background-position: 20% 0;
}
.wcAnnounceUl li .wcAnnounce3:hover,
.wcAnnounceUl li .wcAnnounce3:focus {
  background-position: 20% 50%;
}
.wcAnnounceUl li .wcAnnounce3Active {
  background-position: 20% 100%;
}
.wcAnnounceUl li .wcAnnounce2 {
  background-position: 10% 0;
}
.wcAnnounceUl li .wcAnnounce2:hover,
.wcAnnounceUl li .wcAnnounce2:focus {
  background-position: 10% 50%;
}
.wcAnnounceUl li .wcAnnounce2Active {
  background-position: 10% 100%;
}
.wcAnnounceUl li .wcAnnounce1 {
  background-position: 0% 0;
}
.wcAnnounceUl li .wcAnnounce1:hover,
.wcAnnounceUl li .wcAnnounce1:focus {
  background-position: 0% 50%;
}
.wcAnnounceUl li .wcAnnounce1Active {
  background-position: 0% 100%;
}
.wcAnnounceLink {
  text-decoration: none;
}
.wcAnnounceItemNum {
  float: left;
  font-size: 0px;
  background-repeat: no-repeat;
}
.wcAnnouncePlay {
  float: left;
  font-size: 0px;
  background-repeat: no-repeat;
}
.wcAnnouncePause {
  float: left;
  font-size: 0px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.wcAnnouncePause:hover,
.wcAnnouncePause:focus {
  background-position: 100% 50%;
}
.wcAnnounceDisable {
  filter: alpha(opacity=35);
  opacity: 0.35;
  cursor: default;
}
.wcAnnounceUl.wcAnnouncePlay:focus {
  background-position: 90% 50%;
}
