.wcApp {
  text-align: center;
}

.wcAppLogo {
  animation: wcAppLogoSpin infinite 20s linear;
  height: 80px;
}

.wcAppHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.wcAppIntro {
  font-size: large;
}

@keyframes wcAppLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
