div.wc-breadcrumbs ul {
  padding: 15px 0 0 15px;
  list-style: none;
  margin: 0;
}
div.wc-breadcrumbs ul > li {
  display: inline-block
}
div.wc-breadcrumbs ul > li + li:before {
  content: "/ ";
  padding: 0 5px;
  color: #cccccc;
}
div.wc-breadcrumbs ul > li:last-child {
  color: #EB32DC;
}