.wc-breadcrumbs {
  padding: 0 15px;
  list-style: none;
}
.wc-breadcrumbs > li {
  display: inline-block
}
.wc-breadcrumbs > li + li:before {
  content: "/ ";
  padding: 0 5px;
  color: #cccccc;
}
.wc-breadcrumbs > li:last-child {
  color: #EB32DC;
}