/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root{
	div.wcBreadcrumbs {
	ul {
		padding: 15px 0 0 15px;
		list-style: none;
		margin: 0;
		>li {
			a {
				text-decoration: none;
				color: #4d4e53;
				&:hover {
					text-decoration: underline;
				 }
			}
			display: inline-block;
			+ li {
					&:before {
						content: "/ ";
						padding: 0 5px;
						color: #cccccc;
					}
				}
			&:last-child {
				color: #EB32DC;
			}
		}
	}
}
}
/* ***dev end: please add your styles above only!!!*** */