/************* Footer ***************/
.wcFooter {
  height: 40px;
  padding: 10px;
}
.wcFooter .wcPoweredBy {
  text-align: right !important;
  float: right !important;
  width: 150px !important;
  height: 20px !important;
  margin-right: 2px !important;
}
/************* Footer end ***************/
