/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root{
	/************* Footer ***************/
	.wcFooter {
		height: 40px;
		padding: 10px;
		background: white;
		.wcPoweredBy {
			text-align: right;
			float: right;
			width: 150px;
			height: 20px;
			margin-right: 2px;
		}
	}
	/************* Footer end ***************/
}
/* ***dev end: please add your styles above only!!!*** */