/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root {
  /************* Footer ***************/
  /************* Footer end ***************/
}
#wc-showcase-root .wcFooter {
  height: 40px;
  padding: 10px;
  background: white;
}
#wc-showcase-root .wcFooter .wcPoweredBy {
  text-align: right;
  float: right;
  width: 150px;
  height: 20px;
  margin-right: 2px;
}
/* ***dev end: please add your styles above only!!!*** */
