/* ***dev start: please add your styles bellow only!!!*** */
@keyframes openPopover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#wc-showcase-root #wc_showcase_root.app-size-sm .wcGridList {
  margin: auto;
}
#wc-showcase-root #wc_showcase_root.app-size-sm .wcGridList .wcCard {
  width: 45%;
  margin: 2%;
  margin-bottom: 0.5em;
  height: 350px;
}
#wc-showcase-root #wc_showcase_root.app-size-sm .wcGridList .wcCard .wcGridCardFooter {
  font-size: 100%;
  margin-bottom: 0.5em;
}
#wc-showcase-root #wc_showcase_root.app-size-sm .wcGridList .wcCard .wcGridCardFooter a {
  font-size: 80%;
}
#wc-showcase-root #wc_showcase_root.app-size-xs .wcGridList .wcCard {
  width: 100%;
  margin: 0%;
  margin-bottom: 2.5%;
  height: 200px;
  box-shadow: 2px 2px 5px 0 #756a6a66;
}
#wc-showcase-root #wc_showcase_root.app-size-xs .wcGridList .wcOpenPopover {
  left: 10px;
  width: 95%;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopover {
  position: absolute;
  background: #f9f9f9;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  top: 45px;
  left: -20px;
  z-index: 999999 !important;
  animation: openPopover 0.5s 1;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopover div {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1px 10px;
  background: #a7adba;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopover div h3 {
  font-size: 90%;
  display: none;
  text-align: center;
  color: white;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopover p {
  padding: 0px 15px 0px 0px;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopover:before {
  content: '';
  position: absolute;
  left: 50px;
  top: -6px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background: #f9f9f9;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopoverTop {
  position: absolute;
  background: #f9f9f9;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px 1px #ccc;
  bottom: 55px;
  left: 0px;
  z-index: 999999 !important;
  animation: openPopover 0.5s 1;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopoverTop div {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1px 10px;
  background: #a7adba;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopoverTop div h3 {
  font-size: 90%;
  padding: 10px 2px 0px 2px;
  text-align: center;
  color: white;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopoverTop p {
  padding: 0px 15px 0px 0px;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcOpenPopoverTop:before {
  content: '';
  position: absolute;
  left: 50px;
  bottom: -8px;
  width: 15px;
  height: 15px;
  transform: rotate(225deg);
  background: #f9f9f9;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcClosePopover {
  display: none;
}
#wc-showcase-root #wc_showcase_root .wcGridList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  height: 280px;
  box-shadow: 2px 2px 5px 1px #756a6a66;
  padding: 5px;
  width: 250px;
  margin: 0.5%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcMosaic {
  width: 100%;
  height: 20px;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcCardImgTop {
  height: 200px !important;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcCardImgTop img {
  display: block;
  margin: auto;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcCardImgTop img.wcPlaceHolderImageProductListing {
  width: 45%;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcCardBlock {
  margin-top: 0%;
  position: relative;
  bottom: 0;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcCardBlock h4 {
  text-align: center;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcCardBlock h4 a {
  text-decoration: none;
  color: black;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcGridCardFooter {
  position: relative;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcGridCardFooter button {
  float: left;
  width: 40%;
  cursor: pointer;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcGridCardFooter a {
  padding-left: 1.5%;
  float: right;
  line-height: 2.5em;
}
#wc-showcase-root #wc_showcase_root .wcGridList .wcCard .wcGridCardFooter .wcCloseButtonPopover {
  width: 20px;
  background: white;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
/* ***dev end: please add your styles above only!!!*** */
