/* ***dev start: please add your styles bellow only!!!*** */
@keyframes openPopover {
  from {
    opacity: 0;
    left: 350px;
    box-shadow: none;
  }
  to {
    opacity: 1;
    left: 235px;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
}
#wc-showcase-root #wc_showcase_root .wc-open-popover {
  position: absolute;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 250px;
  top: 0;
  left: 235px;
  z-index: 1;
  animation: openPopover 0.5s 1;
}
#wc-showcase-root #wc_showcase_root .wc-open-popover div {
  padding: 2px 10px;
  background: #428bca;
}
#wc-showcase-root #wc_showcase_root .wc-open-popover div h3 {
  color: white;
}
#wc-showcase-root #wc_showcase_root .wc-open-popover p {
  padding: 1px 5px;
}
#wc-showcase-root #wc_showcase_root .wc-open-popover:before {
  content: '';
  position: absolute;
  left: -13px;
  top: 150px;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background: #f9f9f9;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#wc-showcase-root #wc_showcase_root .wc-close-popover {
  display: none;
}
/* ***dev end: please add your styles above only!!!*** */
