/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root .wcHeader {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
  background: #032C84 url(http://www.test.avery.webcollage.net/wcdevres/_wc/images/avery_logo_filler_bg.jpg) repeat-x top center;
  height: 68px;
}
#wc-showcase-root .wcHeader .wcHeaderTitle {
  width: 50%;
  text-align: left;
  height: 100%;
}
#wc-showcase-root .wcHeader .wcHeaderTitle h1 {
  color: white;
  line-height: 68px;
  padding-left: 10px;
  margin: 0 auto;
}
#wc-showcase-root .wcHeader .wcHeaderLogo {
  width: 50%;
  text-align: right;
}
#wc-showcase-root .wcHeader .wcHeaderLogo img {
  margin: 3px;
}
/* ***dev end: please add your styles above only!!!*** */
