#wc-showcase-root {
  /* Horizontal Navigation*/
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .bt-container {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav a {
  text-decoration: none;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .bt-dropdown-item {
  padding: 0 10px;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .wcNavbarTogglerRight {
  position: absolute;
  right: 1rem;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .bt-navbar-toggler span.wcIconBar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .bt-navbar-toggler span.wcIconBar + span.wcIconBar {
  margin-top: 4px;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .bt-dropdown-menu {
  padding: 0;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .wcDropdownSubMenu {
  position: relative;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .wcDropdownSubMenu .bt-dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .wcDropdownSubMenu .bt-nav-link.bt-dropdown-toggle {
  padding-left: 0;
  padding-right: 0;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .wcDropdownSubMenu a.bt-dropdown-toggle:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 1px;
  margin-right: -3px;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .bt-navbar-nav > li > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .wcDropdownSubMenu.show {
  border-left-color: #fff;
}
#wc-showcase-root #wc_showcase_root nav.wcHorizontalNav .wcDropdownSubMenu.show > .bt-dropdown-menu {
  display: block;
}
