/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root{
  @import '~slick-carousel/slick/slick.css';
  @import '~slick-carousel/slick/slick-theme.css';
  
  #wc_showcase_root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 1000px;
    background-color: #fff;

    .WcDisplayNone{
      display: none!important;
    }
        
    .wcContainerFull {
      width: 100%;
    }
    .wcContainerSmallerVerticalNav {
      width: 80%;
      padding-left: 5px;
    }
    .wcShowcaseBody {
      h2 {
        color: red;
        font-size: 18px;
      }
    }
  
    .wcShowcaseRoot {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      max-width: 1000px;
      background-color: #fff;
    }
  }
  
    .wcContainer {
      background-color: #fff;
      text-align: left;

      .wc_announcement{
        text-align: center;
        img{
          max-width: 100%;
        }
      }

      .wcCategoryUl {
        margin-right: 10px;
        margin-left: 10px;
        list-style-type: none;
  
        .wcCategoryLi {
          padding-top: 15px;
          border-bottom: 1px solid #cbcbcb;
          list-style-type: none;
          background-color: transparent;
          border: medium none black;
          width: auto;
          height: auto;
  
          .wcCenteredCategoryText {
            float: left;
            padding-right: 12px;
          }
        }
      }
    }

  .wcClear {
    clear: both;
  }
  }
  /* ***dev end: please add your styles above only!!!*** */
  