/* Horizontal  */
nav.wcHorizontalNav .dropdown-submenu {
  position: relative;
}
nav.wcHorizontalNav .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
nav.wcHorizontalNav .dropdown-submenu > a:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
nav.wcHorizontalNav .dropdown-submenu.open {
  border-left-color: #fff;
}
nav.wcHorizontalNav .dropdown-submenu.open > .dropdown-menu {
  display: block;
}
/* Vertival */
div.wcNavigationVertical {
  border: 1px solid #c8c8c8;
  margin-right: 5px;
  max-width: 179px;
  min-width: 120px;
}
div.wcNavigationVertical ul {
  padding: 11px 4px 0 11px;
  margin-bottom: 8px;
}
div.wcNavigationVertical ul li {
  list-style: none;
  font-size: 12px;
}
div.wcNavigationVertical > ul ul {
  padding: 5px 4px 5px 11px;
}
div.wcNavigationVertical .wcNavHeader {
  background-color: #af0000;
}
div.wcNavigationVertical .wcNavHeader h1 {
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  margin: 0 auto;
  padding-left: 11px;
}
