/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root #video-view {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
#wc-showcase-root #video-view .wcOverlay {
  background: rgba(51, 51, 51, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
}
#wc-showcase-root #video-view .wcOverlayVideo {
  z-index: 1000;
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  width: 94%;
  max-width: 700px;
}
#wc-showcase-root #video-view .wcOverlayVideo .wcCloseVideo {
  z-index: 1;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  border: 2px solid white;
}
#wc-showcase-root #video-view .wcOverlayVideo .wcCloseVideo img {
  margin: 4px;
}
#wc-showcase-root #video-view .wcOverlayVideo .wcCloseVideo:hover {
  border: 2px solid #ddd;
}
/* ***dev end: please add your styles above only!!!*** */
