



.wcvg_galleryBox_wrap{
    position: relative;
    width: 162px;
    height: 94px;
    display: inline-block;
    float: left;
    margin: 20px 20px 0 0;
    cursor: pointer;
}
.VideoPlayerContainer{
    width: 98%;
}
/* .VideoPlayerContainer video{
    display: block!important;
    width: inherit!important;
} */

.wc-play-list li.wc-play-list-item a:hover .wc-play,
.wc-play-list li.wc-play-list-item a:focus .wc-play,
.wc-play-list li.wc-play-list-item a:active .wc-play
.wc-play-list li.wc-play-list-item a.wc-selected .wc-play {
    opacity : 0.9;
    filter: alpha(opacity=55);
}



/* **************************************************** */
.wc-hidden {
    display : none;
}

.gallery {
    display: block;
    position: relative;
    max-width : 800px;
}

.gallery:after{
    clear: both;
    content: "";
    display: block;
}

.wc-center-video-gallery {
    margin : auto;
}

.wc-player-outer-wrap {
    margin-bottom : 5px;
}

.wc-play-list {
  list-style: none;
  margin : -5px 0 0 0;
  padding : 0;
}

.wc-play-list .wc-play-list-item{
    position : relative;
    width : 162px;
    height : 94px;
    display : inline-block;
    margin : 20px 20px 0 0;
    cursor : pointer;
}

.wc-items-has-caption li.wc-play-list-item,
.wc-items-has-description li.wc-play-list-item {
    height : 134px;
}

.wc-items-has-caption.wc-items-has-description li.wc-play-list-item {
    height : 150px;
}

.wc-play-list .wc-thumbnail-wrap {
    height : 94px;
    margin-bottom : 5px;
}

.wc-play-list li .wc-thumbnail-wrap a {
    /* since the bootstrap tooltip css set the box-sizing to box-content*/
    -webkit-box-sizing: content-box; /* Android â‰¤ 2.3, iOS â‰¤ 4 */
    -moz-box-sizing: content-box; /* Firefox â‰¤ 28 */
    box-sizing: content-box; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */

    display : block;
    border: 1px solid #999999;
    width : 160px;
    height : 90px;
    background : #000000;
    top : 2px;
    left : 2px;
}

.wc-play-list li.wc-play-list-item .wc-thumbnail-wrap a:hover,
.wc-play-list li.wc-play-list-item .wc-thumbnail-wrap a:focus,
.wc-play-list li.wc-play-list-item .wc-thumbnail-wrap a:active,
.wc-play-list li.wc-play-list-item .wc-thumbnail-wrap a.wc-selected {
    top : 1px;
    left : 1px;
    border: 2px solid #0066cc;
}

.wc-play-list li.wc-play-list-item img {
    max-width : 100%;
    max-height : 100%;
}

.wc-play-list li.wc-play-list-item img.wc-play {
    width : auto;
    height : auto;
    opacity : 0.6;
    filter: alpha(opacity=25);
}


.wc-play-list li.wc-play-list-item .wc-duration {
    font-size : 10px;
    background: #000000;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 2px;
}

.wc-play-list li.wc-play-list-item a:hover .wc-duration,
.wc-play-list li.wc-play-list-item a:focus .wc-duration,
.wc-play-list li.wc-play-list-item.wc-play-list-item a:active .wc-duration,
.wc-play-list li a.wc-selected .wc-duration {
    background : #0066cc;
}

.wc-item-caption {
    font-weight: bold;
    font-style: normal;
    color: #333333;
}

.wc-item-description {
    margin : 0;
    color: #333333;
}

a .wc-item-caption,
a .wc-item-description {
    cursor : pointer;
}

/************************************centeringg********************************/

.wc-center-container {
    position : relative;
}
.wc-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
}


.wc-caption-description-wrap.ellipsis {
    font-size: 13px;
    line-height: 16px;
    overflow: hidden;
    display : block;
    color :  #333333;
}

.wc-items-has-caption .wc-caption-description-wrap.ellipsis,
.wc-items-has-description .wc-caption-description-wrap.ellipsis {
    height : 32px;
}

.wc-current-media-caption-description {
    display : none;
    position : relative;
    padding-right : 15px;
}

.wc-items-has-caption .wc-current-media-caption-description,
.wc-items-has-description .wc-current-media-caption-description {
    display : block;
    height : 48px;
}


.wc-items-has-caption.wc-items-has-description .wc-caption-description-wrap.ellipsis,
.wc-current-media-caption-description .ellipsis {
    height : 48px;
}

.wc-current-media-caption-description.wc-expanded,
.wc-current-media-caption-description.wc-expanded .ellipsis,
.wc-current-media-caption-description.wc-expanded .ellipsis:before {
    height : auto!important;
}

.wc-items-has-caption.wc-items-has-description .wc-caption-description-wrap.ellipsis:before {
    width: 5px;
    height: 48px;
}

.wc-caption-description-wrap.ellipsis:after {
    top : -16px;
}

.wc-caption-description-wrap,
.wc-caption-description-wrap:hover,
a.wc-current-media-caption-description,
a.wc-current-media-caption-description:hover {
  text-decoration : none;
  cursor : pointer;
}

.wc-current-media-caption-description .wc-caption-description-wrap {
    padding-right : 10px;
}

.wc-single-video .wc-current-media-caption-description {
    height : auto !important;
}


#player {
    display : block;
    position : relative;
    height : 0;
    padding-bottom : 75%;
    max-width : 100%;
}
object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wc-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wc-player-wrap {
    position : relative;
    background : black!important;
    border : 1px solid #cccccc!important;
    min-width : 260px;
}

.wc-movie-width-limiter {
    margin : auto;
    left : 0;
    right : 0;
}

.wc-movie-active{
    border : 3px solid #0066cc!important;
}

.video-react-big-play-button-center{
    background: none !important;
    background-image: url('../resources/videoGallery/play_thumbnails.png')!important;
    background-repeat: no-repeat!important;
    background-size: 52px 52px!important;
    border: none !important; 
}
.video-react .video-react-big-play-button{
    height: 3.5em !important;
    width: 4.2em !important;
}
.video-react-icon-play-arrow:before, 
.video-react .video-react-big-play-button:before{
    content: none!important;
}

