.wcVideoPlayerContainer {
  width: 98%;
}
.wcPlayList {
  list-style: none;
  margin: -5px 0 0 0;
  padding: 0;
}
.wcPlayList .wcPlayListItem {
  position: relative;
  width: 162px;
  height: 94px;
  display: inline-block;
  margin: 20px 20px 0 0;
  cursor: pointer;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap {
  height: 94px;
  margin-bottom: 5px;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap a {
  box-sizing: content-box;
  display: block;
  border: 1px solid #999999;
  width: 160px;
  height: 90px;
  background: #000000;
  top: 2px;
  left: 2px;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap a:hover,
.wcPlayList .wcPlayListItem .wcThumbnailWrap a:focus,
.wcPlayList .wcPlayListItem .wcThumbnailWrap a:active {
  top: 1px;
  left: 1px;
  border: 2px solid #0066cc;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap a.wcSelected {
  top: 1px;
  left: 1px;
  border: 2px solid #0066cc;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer {
  position: relative;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer:hover .wcPlay,
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer:focus .wcPlay,
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer:active .wcPlay {
  opacity: 0.9;
  filter: alpha(opacity=55);
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer:hover .wcDuration,
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer:focus .wcDuration,
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer:active .wcDuration {
  background: #0066cc;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer .wcThumbnail {
  max-width: 100%;
  max-height: 100%;
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcCenterContainer img.wcPlay {
  width: auto;
  height: auto;
  opacity: 0.6;
  filter: alpha(opacity=25);
}
.wcPlayList .wcPlayListItem .wcThumbnailWrap .wcMovieActive {
  border: 3px solid #0066cc;
}
.wcPlayList .wcPlayListItem .wcDuration {
  font-size: 10px;
  background: #000000;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 2px;
}
.video-react-icon-play-arrow:before {
  content: none !important;
}
.video-react .video-react-big-play-button:before {
  content: none !important;
}
.video-react-big-play-button-center {
  background: none !important;
  background-image: url('../resources/videoGallery/play_thumbnails.png') !important;
  background-repeat: no-repeat !important;
  background-size: 52px 52px !important;
  height: 55px !important;
  border: none !important;
  width: 1.7em !important;
  margin-left: -1em !important;
}
.wcCenter {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}
