#wc-showcase-root #wc_showcase_root tbody {
  width: "100%";
  display: "block";
  background: #F2F2F2;
}
#wc-showcase-root #wc_showcase_root tbody tr {
  display: -ms-flexbox;
  display: flex;
}
#wc-showcase-root #wc_showcase_root tbody tr td {
  border: none;
  background: white;
  min-height: 100px;
  float: left;
  position: relative;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-bottom: 0.25%;
}
#wc-showcase-root #wc_showcase_root tbody tr td img {
  display: block;
  width: 85%;
  position: relative;
  top: 0;
}
#wc-showcase-root #wc_showcase_root tbody tr td h4 {
  position: relative;
  top: 0;
  margin-top: 0%;
  margin-bottom: 5%;
}
#wc-showcase-root #wc_showcase_root tbody tr td h4 a {
  text-decoration: none;
  color: black;
}
#wc-showcase-root #wc_showcase_root tbody tr td a {
  position: absolute;
  top: 42.5%;
}
#wc-showcase-root #wc_showcase_root tbody tr:last-child {
  background: white;
}
