/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root {
  .app-size-lg,
  .app-size-md,
  .app-size-sm,
  .app-size-xs {
    #wcWideList {
      .wcWideProduct.wcOnlyTitleDescWidth {
        border: none;
        .wcWideListDesc {
          // width: 100%;
          h4 {
            a {
              border-bottom: 2px solid #f2f2f2;
              padding-bottom: 3px;
              line-height: 2em;
            }
          }
        }
        .wcWideListButton {
          a {
            // margin-top: 0;
            line-height: normal;
          }
        }
      }

      .wcWideProduct.wcOnlyTitleDescWidthNormalProduct {
        .wcWideListButton {
          a {
            // margin-top: 0;
            line-height: normal;
          }
        }
      }

      .wcWideProduct {
        border-bottom: 2px solid #f2f2f2;
        width: 100%;
        // padding-top: 0.5%;

        .bt-row {
          padding-top: 1%;
        }
        .wcPlaceHolderImageProductListing {
          width: 45%;
        }
        .wcWideListImg {
          width: 15%;
          img {
            position: relative;
            display: block;
            left: 25%;
            top: 0;
            margin: auto;
          }
        }

        .wcMosaicWideList {
          width: 100%;
        }

        .wcWideListDesc {
          width: 60%;
          h4 {
            position: relative;
            top: 0;
            padding-left: 4%;
            padding-right: 2%;
            margin-top: 0%;
            margin-bottom: 0%;

            a {
              text-decoration: none;
              color: black;
            }
          }
        }

        .wcWideListButton {
          a {
            font-size: 80%;
            display: block;
            // margin-top: 60%;
            line-height: 100px;
          }
        }
      }

      .wcNarrowProduct {
        border-bottom: 2px solid #f2f2f2;
        width: 100%;
        // padding-top: 0.5%;

        .row-narrow {
          display: flex;
          flex-direction: column;
          padding-bottom: 2.5%;
        }

        .wcMosaicWideList {
          width: 100%;
        }
        .wcPlaceHolderImageProductListing {
          width: 100%;
        }
        .wcWideListImg {
          width: 100%;
          img {
            // position: relative;
            // display: block;
            // // width: 45%;
            // left: 25%;
            // top: 0;
            display: block;

            margin: auto;
          }
        }

        .wcWideListDesc {
          width: 100%;
          h4 {
            text-align: center;
            position: relative;
            top: 0;
            padding-left: 4%;
            padding-right: 2%;
            margin-top: 0%;
            margin-bottom: 0%;

            a {
              text-decoration: none;
              color: black;
            }
          }
          .narrowDescription {
            width: 70%;
            margin: auto;
          }
        }

        .wcWideListButton {
          a {
            font-size: 80%;
            display: block;
            // margin-top: 45%;
            text-align: center;
          }
        }
      }
    }
  }
}

/* ***dev end: please add your styles above only!!!*** */
