/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root #wc_showcase_root #wcWideList {
  background: #f2f2f2;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts {
  background: white;
  width: 100%;
  margin-bottom: 0.2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts .wcMosaicWideList {
  margin-top: 0.5%;
  width: 10%;
  height: 40px;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts .wcWideListImg {
  float: left;
  width: 15%;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts .wcWideListImg img {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts .wcWideListDesc {
  float: left;
  width: 60%;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts .wcWideListDesc h4 {
  position: relative;
  top: 0;
  padding-left: 2%;
  margin-top: 0%;
  margin-bottom: 5%;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts .wcWideListDesc h4 a {
  text-decoration: none;
  color: black;
}
#wc-showcase-root #wc_showcase_root #wcWideList .wcWideListProducts .wcWideListButton {
  float: left;
  width: 15%;
  padding-top: 5%;
}
/* ***dev end: please add your styles above only!!!*** */
