/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root {

    #wc_showcase_root tbody{
        width:"100%"; 
        display:"block";
        background: #F2F2F2;
        tr{
            display: flex;
            td{
                border:none;
                background: white;
                min-height: 100px;
                
                float: left;   
                position: relative;
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                margin-bottom: 0.25%; 
                img{
                    display: block;
                    width:85%;
                    position: relative;
                    top:0;
                }
                h4{
                    position: relative;
                    top:0;  
                    margin-top: 0%;
                    margin-bottom: 5%;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                a{
                    position: absolute;
                    top:42.5%;
                }
                
            }
            &:last-child{
                background: white;
            }
            
        }
    }
}
/* ***dev end: please add your styles above only!!!*** */