/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct {
  border-bottom: 2px solid #f2f2f2;
  width: 100%;
  padding-top: 0.5%;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .bt-row,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .bt-row {
  padding-top: 1%;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcPlaceHolderImageProductListing,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcPlaceHolderImageProductListing {
  width: 45%;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListImg,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListImg {
  width: 15%;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListImg img,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListImg img {
  position: relative;
  display: block;
  left: 25%;
  top: 0;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListDesc,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListDesc {
  width: 68%;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListDesc h4,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListDesc h4 {
  position: relative;
  top: 0;
  padding-left: 7%;
  padding-right: 2%;
  margin-top: 0%;
  margin-bottom: 5%;
  line-height: 1.3em;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListDesc h4 a,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListDesc h4 a {
  text-decoration: none;
  color: black;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListDesc h4.wcOnlyTitle,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListDesc h4.wcOnlyTitle {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListButton,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListButton {
  width: 15%;
}
#wc-showcase-root .app-size-lg #wcWideList .wcWideProduct .wcWideListButton a,
#wc-showcase-root .app-size-md #wcWideList .wcWideProduct .wcWideListButton a {
  display: block;
  margin-top: 45%;
}
/* ***dev end: please add your styles above only!!!*** */
