/* ***dev start: please add your styles bellow only!!!*** */
/*!!!This file is for overriting the existing-default css*/
#wc-showcase-root .wcHeader {
  height: 68px;
  background: #032C84 url(http://www.test.avery.webcollage.net/wcdevres/_wc/images/avery_logo_filler_bg.jpg) repeat-x top center;
}
#wc-showcase-root .wcHeader .wcHeaderTitle h1 {
  color: white;
}
/* ***dev end: please add your styles above only!!!*** */
