.wcShowcaseBody {
  color: #ff32ac;
  border-color: #fdcdea;
}
.wcShowcaseBody H2 {
  border: 1px solid #f938ab;
  -webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.3);
  background-color: #ffff99;
}
