/*
<div className="wc-products-carousel-wrap">
    <Slider ref={ c => this.slider = c }{...settings}>
        {
            slide.productList.map((product) => (
                <div className='wc-product-details-container'>
                    <div className='wc-product'>
                        <div className="wc-product-image">
                            <a href="#">
                                <WcResource><img src={product[1]}/></WcResource>
                            </a>
                        </div>
                        <div className='wc-title'><a href="#" >{product[0]}</a></div>
                    </div>
                </div>
            ))
        }
    </Slider>
</div>

browse left wc-browse-carousel disabled  wc-browse-carousel-arrows
browse right wc-browse-carousel wc-browse-carousel-arrows
*/

/*****************************************************/



/*****************************************************/
.slider-container {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
}


.wc-browse-carousel-arrows{
    margin-top:50px !important;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.wc-products-carousel-wrap a.next {
    background-position: 0 0 !important;
    right: -25px;
}
.wc-products-carousel-wrap a.next:active { background-position: 0 -30px !important;}
.wc-products-carousel-wrap a.prev {
    background-position: -30px 0 !important;
        left: -25px;
}
.wc-products-carousel-wrap a.prev:active { background-position: -30px -30px !important;}

.wc-products-carousel-wrap a.browse
 {
   background: url('http://www.test.bose.webcollage.net/_wc/default-defs/resources/product-listing/v3/listing-carousel-sprite.png') no-repeat !important;
   display: inline !important;
   width: 30px !important;
   height: 30px !important;
   float:left !important;
   margin: 0px 10px !important;
   font-size: 1px !important;
   cursor:pointer !important;
   border: 0px !important;
 }


.wc-products-carousel-wrap a.right {background-position: 0 -30px !important;}
.wc-products-carousel-wrap a.right:active { background-position:-60px -30px !important;}
.wc-products-carousel-wrap a.left { background-position: 0 0 !important;}
.wc-products-carousel-wrap a.left:active { background-position:-60px 0 !important;}

.wc-products-carousel-wrap a.browse div {
  background: transparent !important;
  width: 100% !important;
  height: 100% !important;
  float: left !important;
  display: inline !important;
}

.wc-products-carousel-wrap a.disabled div.left
{
  background: url('http://www.test.bose.webcollage.net/_wc/default-defs/resources/product-listing/v3/listing-carousel-sprite.png') no-repeat !important;
  background-position:-90px 0 !important;
  cursor:default !important;
}

.wc-products-carousel-wrap a.disabled div.right
{
  background: url('http://www.test.bose.webcollage.net/_wc/default-defs/resources/product-listing/v3/listing-carousel-sprite.png') no-repeat !important;
  background-position:-90px -30px !important;
  cursor:default !important;
}