/* ***dev start: please add your styles bellow only!!!*** */
#wc-showcase-root #wc_showcase_root div.wcNavigationVertical {
  border: 1px solid #c8c8c8;
  width: 20%;
  max-width: 120px;
  display: table;
}
#wc-showcase-root #wc_showcase_root div.wcNavigationVertical ul.wcNavigationBox {
  padding: 10px 6px 0 11px;
  margin: 0 0 8px 0;
}
#wc-showcase-root #wc_showcase_root div.wcNavigationVertical ul.wcNavigationBox li {
  list-style: none;
  font-size: 12px;
  margin: 3px 0;
}
#wc-showcase-root #wc_showcase_root div.wcNavigationVertical ul.wcNavigationBox li a {
  text-decoration: none;
  color: #4d4e53;
}
#wc-showcase-root #wc_showcase_root div.wcNavigationVertical ul.wcNavigationBox li a:hover {
  text-decoration: underline;
}
#wc-showcase-root #wc_showcase_root div.wcNavigationVertical .wcNavHeader {
  background-color: #af0000;
}
#wc-showcase-root #wc_showcase_root div.wcNavigationVertical .wcNavHeader h1 {
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
  margin: 0 auto;
  padding-left: 11px;
}
/* ***dev end: please add your styles above only!!!*** */
